@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.ministries,
.involvement {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  font-family: 'Playfair Display', 'serif';
  display: grid;
  /* background-color: #f4f4f4; */
  background: url('/images/nature.jpeg') no-repeat;
  background-attachment: fixed;
  align-content: center;
  min-height: 100vh;
}

.our-team {
  font-family: 'Playfair Display', 'serif';
  display: grid;
  /* background-color: #f4f4f4; */
  background: url('/images/nature.jpeg') no-repeat;
  background-attachment: fixed;
  align-content: center;
  min-height: 100vh;
}

.ministries {
  font-family: 'Playfair Display', 'serif';
  display: grid;
  background-image: url('/images/nature.jpeg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.involvement {
  background-image: url('/images/nature.jpeg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background: url('/images/nature.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  /* font-size: 100px; */
}